.app-title-h2 {
  font: consolas;
  text-align: center;
  color: #ffffff;
  margin: 20px;
}

.login-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #2d364c; /* Just to visualize the extent */
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 10px;
}

.input-login-form {
  width: 60%;
}

.btn-login-form {
  width: 100%;
}
